<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <insert id="addDish" useGeneratedKeys="true" keyProperty="id">
        insert into dish
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="price != null">price,</if>
            <if test="image != null">image,</if>
            <if test="description != null">description,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createUser != null">create_user,</if>
            <if test="updateUser != null">update_user,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="price != null">#{price},</if>
            <if test="image != null">#{image},</if>
            <if test="description != null">#{description},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="updateUser != null">#{updateUser},</if>
        </trim>
    </insert>
    <insert id="addDishCategory">
        INSERT INTO dish_flavor (
        <if test="id != null">id,</if>
        <if test="dishId != null">dish_id,</if>
        name,
        value
        ) VALUES (
        <if test="id != null">#{id},</if>
        <if test="dishId != null">#{dishId},</if>
        #{name},
        #{value}
        )
    </insert>
    <select id="selectDishList" resultType="com.sky.vo.DishVO">
        SELECT
        d.*,
        c.name as categoryName
        FROM dish d
        LEFT JOIN category c ON d.category_id = c.id
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>
    <update id="updateDish">
        update dish
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image != null">image = #{image},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteDishList">
        delete from dish
        where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <update id="startOrStopDish">
        update dish set status = #{status},update_time = #{updateTime},update_user = #{updateUser} where id = #{id};
    </update>
    <select id="selectDishListByCategoryId" resultType="com.sky.vo.DishVO">
        select * from dish
        <where>
            category_id = #{categoryId}
            and status = 1
        </where>
        order by update_time desc
    </select>
    <select id="selectStatusById" resultType="java.lang.Integer">
        select status from dish where id in
        <foreach collection="dishId" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from dish
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>

</mapper>