<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ShoppingCartMapper">

    <insert id="addShoppingCart">
        insert into shopping_cart
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="dishId != null">dish_id,</if>
                <if test="setmealId != null">setmeal_id,</if>
                <if test="dishFlavor != null">dish_flavor,</if>
                name,user_id,number,amount,image,create_time
            </trim>
        values
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="dishId != null">#{dishId},</if>
                <if test="setmealId != null">#{setmealId},</if>
                <if test="dishFlavor != null">#{dishFlavor},</if>
                #{name},#{userId},#{number},#{amount},#{image},#{createTime}
            </trim>
    </insert>

    <update id="updateShoppingCart">
        update shopping_cart
        set number = number + 1
        <where>
            user_id = #{userId}
            <if test="dishId != null">
                AND dish_id = #{dishId}
            </if>
            <if test="setmealId != null">
                AND setmeal_id = #{setmealId}
            </if>
            <if test="dishFlavor != null">
                AND dish_flavor = #{dishFlavor}
            </if>
        </where>
    </update>
    <update id="subShoppingCart">
        update shopping_cart
        set number = number - 1
        <where>
            user_id = #{userId}
            <if test="dishId != null">
                AND dish_id = #{dishId}
            </if>
            <if test="setmealId != null">
                AND setmeal_id = #{setmealId}
            </if>
            <if test="dishFlavor != null">
                AND dish_flavor = #{dishFlavor}
            </if>
        </where>
    </update>
    <delete id="cleanShoppingCart">
        delete from shopping_cart where user_id = #{userId}
    </delete>
    <delete id="deleteShoppingCartDishOrSetmeal">
        delete from shopping_cart
        <where>
            user_id = #{userId}
            <if test="dishId != null">
                AND dish_id = #{dishId}
            </if>
            <if test="dishFlavor != null">
                AND dish_flavor = #{dishFlavor}
            </if>
            <if test="setmealId != null">
                AND setmeal_id = #{setmealId}
            </if>
        </where>
    </delete>
    <select id="selectDishNumber" resultType="Integer">
        select number from shopping_cart
        <where>
            user_id = #{userId}
            <if test="dishId != null">
                AND dish_id = #{dishId}
            </if>
            <if test="setmealId != null">
                AND setmeal_id = #{setmealId}
            </if>
            <if test="dishFlavor != null">
                AND dish_flavor = #{dishFlavor}
            </if>
        </where>
        limit 1
    </select>
    <select id="getShoppingCart" resultType="com.sky.entity.ShoppingCart">
        select * from shopping_cart where user_id=#{userId}
    </select>
    <insert id="addShoppingCartList">
        insert into shopping_cart(name, image, user_id, dish_id, setmeal_id, dish_flavor, number, amount, create_time)
        VALUES
        <foreach collection="shoppingCartList" item="list" separator=",">
            (#{list.name}, #{list.image}, #{list.userId}, #{list.dishId}, #{list.setmealId}, #{list.dishFlavor}, #{list.number}, #{list.amount}, #{list.createTime})
        </foreach>
    </insert>
</mapper>