.main-content {
    display: flex;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
}

.left-section {
    display: none; /* 隐藏左侧 */
}

.right-section {
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 50%;
    background-color: #ff6b6b;
    z-index: -1;
}

.content-card {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 130px;
    border-radius: 30px;
    text-align: center;
    width: 85%;
    z-index: 1;
}

.content-card h1 {
    font-size: 72px;
    color: #ff6b6b;
    margin-bottom: 40px;
}

.content-card p {
    font-size: 36px;
    color: #333;
}