<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qkl.auctionsystem.mapper.OrderMapper">

    <update id="updateStatusByUserId">
        update auction_order set status = 1 where id = #{orderId} and user_id = #{userId}
    </update>
    <select id="selectOrdersByUserId" resultType="com.qkl.auctionsystem.pojo.entity.Order">
        select o.*,i.title as item_title from auction_order o left join auction_item i on o.item_id = i.id
        <where>
            user_id = #{userId}
        </where>
    </select>
</mapper>